<% include Partials/Header %>

<div class="ui hidden divider "></div>
<div class="ui hidden divider "></div>
<div class="ui hidden divider "></div>
<div class="ui hidden divider "></div>
<div class="ui hidden divider "></div>


<div class="ui container">
<form action="/comparison" method="POST">
    <div class="ui left floated ">
      <div class="ui fluid selection dropdown">

        <input type="hidden" name="college1">
        <i class="dropdown icon"></i>
        <div class="default text">Select Friend</div>
        <div class="menu">
          <div class="item" data-value="IIIT-Hyderabad">
            <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">
            IIIT-Hyderabad
          </div>
          <div class="item" data-value="IIIT-Allahabad">
            <img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">
            IIIT-Allahabad
          </div>
          <div class="item" data-value="stevie">
            <img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">
            IIIT-Sricity
          </div>
          <div class="item" data-value="christian">
            <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">
            MNNIT-Allahabad
          </div>
          <div class="item" data-value="matt">
            <img class="ui mini avatar image" src="/images/avatar/small/matt.jpg">
            NIT-Waranagal
          </div>
          <div class="item" data-value="justen">
            <img class="ui mini avatar image" src="/images/avatar/small/justen.jpg">
            NIT-Surathkal
          </div>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui left floated ">
      <div class="ui fluid selection dropdown">
      
        <input type="hidden" name="college2">
        <i class="dropdown icon"></i>
        <div class="default text">Select Friend</div>
        <div class="menu">
          <div class="item" data-value="jenny">
            <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">
            IIIT-Hyderabad
          </div>
          <div class="item" data-value="IIIT-Aallahabad">
            <img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">
            IIIT-Allahabad
          </div>
          <div class="item" data-value="stevie">
            <img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">
            IIIT-Sricity
          </div>
          <div class="item" data-value="christian">
            <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">
            MNNIT-Allahabad
          </div>
          <div class="item" data-value="matt">
            <img class="ui mini avatar image" src="/images/avatar/small/matt.jpg">
            NIT-Waranagal
          </div>
          <div class="item" data-value="justen">
            <img class="ui mini avatar image" src="/images/avatar/small/justen.jpg">
            NIT-Surathkal
          </div>
      </div>

    </div>

  </div>
 
 <div class="ui hidden divider"></div>

   <div class="ui right aligned grid">
  
  <div class="center aligned two column row">
    <div class="column">

      <button class="ui basic  black button">Proceed</button>
      
    </div>
    
  </div>
  
</div>

  </form>

</div>




<div class="ui hidden divider "></div>

<div class="ui fixed inverted huge massive pointing menu">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="/img/header-bg.jpg">
      </a>

      <a href="#" class="item">Home</a>
      <a href="#" class="item">College Finder</a>
      <a href="#" class="item">Ranking</a>


      <div class="ui simple dropdown item float right">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>s
        </div>
      </div>

      <a href="" class="item">login</a>
    </div>
  </div>

  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

<div class="ui container">
  <div class="ui centered segment">
    <table class="ui table">
      <thead>
        <tr>
          <th class="two wide">Name:</th>
          <th class="two wide">Name:</th>
          <th class="two wide">Result</th>
      </thead>
      <tbody>
        <tr>
          <td><%=l1[0].name %></td>
          <td><%=l2[0].name %></td>
          <td> Greater </td>
        </tr>
        <tr>
          <td><%=l1[0].rank %></td>
          <td><%=l2[0].rank %></td>
          <td> Equal </td>
        </tr>
        <tr>
          <td><%=l1[0].place %></td>
          <td><%=l2[0].place %></td>
          <td>Lesser</td>
        </tr>
        <tr>
          <td><%=l1[0].salary %></td>
          <td><%=l2[0].salary %></td>
          <td>Greater</td>
        </tr>
        <tr>
          <td><%=l1[0].intake %></td>
          <td><%=l2[0].intake %></td>
          <td>Greater</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>3 People</th>
          <th>2 Approved</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="ui hidden divider"></div>

<!-- </div>
 <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
<div class="ui info message">  transition hidden 
  <div class="ui warning success message">
  <i class="close icon"></i>
  <div class="header">
    Your user registration was successful.
  </div>
  <p>You may now log-in with the username you have chosen</p>
</div>
</div> -->

<script src="static/dist/semantic-ui/semantic.min.js"></script>
<script type="text/javascript" src="js/TempHome.js"></script>
<% include Partials/Footer %>